:root {
	--dark-color-a: #00a78b;
	--dark-color-b: #0292ae;
	--light-color: #b3fbe3;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
    background-image: linear-gradient(90deg, rgba(0, 119, 255, 0.3), rgba(0, 177, 144, 0.3));
}
html:hover{
    background-image: linear-gradient(90deg, rgba(0, 119, 255, 0.4), rgba(0, 177, 144, 0.4));
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	overflow-x: hidden;
	overflow-y: hidden;
}
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}
/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.join-container:hover {
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
	font-weight: 600;
}

.join-main input {
	border: none;
	border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.9);
}

.join-main input[type='text'] {
    outline: none;
	font-size: 16px;
	padding: 15px;
	height: 40px;
	width: 100%;
}

.join-main select {
    outline: none;
	font-size: 16px;
	padding: 10px;
	height: 40px;
	width: 100%;
	border: none;
	cursor: pointer;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.9);
}
.join-main .btn {
	margin-top: 20px;
	width: 100%;
	background-color: var(--light-color);
	color: black;
	border-radius: 10px;
	box-shadow: 0px .5px 2px rgba(46, 229, 157, 0.4);
}

.join-main .btn:hover {
	border-radius: 12px;
	box-shadow: 0px 1.5px 4px rgba(46, 229, 157, 0.4);
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}